<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>Eshop</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="start" name="cart"></ion-icon>
                <ion-badge color="danger">{{(cart$ | async).products.length}}</ion-badge>
                <!--Quando temos observables-->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>